.figure-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.map-container {
  flex-direction: column;
  display: flex;
}
.map-button-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  width: 100%;
}
.map-button-row > button {
  border: none;
  padding: 6px;
  border-radius: 1px;
  box-shadow: 0px 1px 2px #999;
  cursor: pointer;
}
